---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Broken Spire Games">
  <section
    class="h-full w-full flex flex-col items-center sm:p-10 py-12 min-h-[100dvh] gap-20">
    <div class="flex sm:w-full sm:pl-20">
      <h1 class="text-3xl font-extrabold">About Us</h1>
    </div>
    <div class="h-full flex justify-center items-center">
      <h1 class="sm:text-5xl text-xl text-center w-4/5">
        Blah Blah Blah, this is a thing about our company blah blah blah blah
        boring Idk what should go here. Maybe some pics of us or something? Ugh,
        I hate pictures of myself
      </h1>
    </div>
  </section>
</Layout>
