---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Broken Spire Games">
  <section
    class="h-full w-full flex flex-col items-center sm:p-10 py-12 min-h-[100dvh] gap-20">
    <div class="flex sm:w-full sm:pl-20">
      <h1 class="text-3xl font-extrabold">Contact</h1>
    </div>
    <form
      class="flex flex-col justify-center border sm:w-1/2 w-full h-fit border-stone-200 p-5 rounded-lg bg-stone-800 dark:bg-stone-950 gap-4 text-stone-300 dark:text-stone-400"
      action="https://formsubmit.co/sciclunajl@gmail.com"
      method="POST">
      <input
        type="hidden"
        name="_next"
        value="https://scicluna.github.io/portfolio/"
      />
      <div class="flex flex-col">
        <label for="name">Name*</label>
        <input
          name="name"
          type="text"
          id="name"
          required
          class="p-1 shadow-sm shadow-stone-950 righteous text-stone-950 h-8"
        />
      </div>
      <div class="flex flex-col">
        <label for="email">Email*</label>
        <input
          name="email"
          type="email"
          id="email"
          required
          class="p-1 shadow-sm shadow-stone-950 righteous text-stone-950 h-8"
        />
      </div>
      <div class="flex flex-col">
        <label for="message">Message*</label>
        <textarea
          name="message"
          id="message"
          rows={5}
          required
          class="p-1 shadow-sm shadow-stone-950 righteous resize-none text-stone-950 sm:h-52 md:h-80"
        ></textarea>
      </div>
      <button
        type="submit"
        class="text-stone-900 bg-white w-1/2 self-center mt-2 rounded-md shadow-sm shadow-stone-950 hover:bg-stone-500 transition-all duration-200 ease-in dark:hover:bg-stone-300"
        >Send</button
      >
    </form>
  </section>
</Layout>
