---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/server/Hero.astro"
import Statement from "../components/server/Statement.astro"
import ProductsNew from "../components/server/ProductsNew.astro"
---

<Layout title="Broken Spire Games">
  <main class="flex flex-col">
    <Hero />
    <Statement />
    <ProductsNew />
  </main>
</Layout>
