---
import Layout from "../layouts/Layout.astro"
import Hero from "../components/server/Hero"
import Statement from "../components/server/Statement"
import ProductsNew from "../components/server/ProductsNew"
import { Image } from "astro:assets"
import brokenspirelogo from "../../src/images/brokenspirelogo.jpg"
---

<Layout title="Broken Spire Games">
  <main class="flex flex-col">
    <Hero>
      <Image src={brokenspirelogo} alt="logo" class="h-full" />
    </Hero>
    <Statement />
    <ProductsNew />
  </main>
</Layout>
